.box{
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 10;
}
body{
  background-color:#555555;
}

  button {
    background-color: white; 
    color: #7610ad; 
    }
  
  .button:hover {
    background-color: #555555;
    color: white;
  }

  img {
    /* vertical-align: middle; */
    border-style: none;
    display:block;
}

.navbar {
    background-color: #7610ad;
    color: white;
}

.card {
    background-color: #252523;
}

.row {
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  .card-title{
    color:white;
  }